<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

           <!-- Target class -->
     <bean id="bankService" class="com.nt.service.BankService"/>
     
          <!-- Dependent class -->
      <bean id="pmAdvice" class="com.nt.advice.PerformenceMonitoringAdvice"/>
         
         <!-- Dependent class -->
      <bean id="chAdvice" class="com.nt.advice.CachingAdvise"/>

            <!-- Enable Aop Config -->
      <aop:config>
      
             <aop:pointcut expression="execution(double com.nt.service.BankService.*(..))" id="ptc"/>
     
              <aop:aspect ref="pmAdvice" order="20">
              
                    <aop:around method="performence" pointcut-ref="ptc"/>
              
              </aop:aspect>
              <aop:aspect ref="chAdvice" order="1">
              
                    <aop:around method="caching" pointcut-ref="ptc" />
              
              </aop:aspect>
      </aop:config>

</beans>
