<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
      <!-- Dependent class config -->
     <bean id="req" class="com.nt.beans.RequestHandler" scope="prototype" lazy-init="true"/>
     
     <!-- Target class config -->
     <bean id="web" class="com.nt.beans.Webcontainer" scope="singleton" lazy-init="true">
        <lookup-method name="getHandler" bean="req"/>
        
     </bean>
          <bean id="myint" class="com.nt.beans.MyInterface" scope="prototype" factory-method="createDate"/>
     

</beans>
